*{
    margin: 0%;
    padding: 0%;
    background-color: darkred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

h2 {
    margin: 6px;
    font-family: cursive;
    text-decoration: underline;
}

article {
    margin: 10px;
    padding: 10px;
}

a {
    margin: 20px;
    color: greenyellow;
    font-family: cursive;
    text-decoration: none;


}

.static {
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: rgba(29, 173, 184, 0.5);
}

a:visited {
    color: blanchedalmond;
}

footer{
    align-self: auto;
}

#contenedor {
    margin: 0;
    width: 500px;
    }
    #cabecera {
    height: 120px;
    background: blue;
    }
    #cabecera h1 {
    margin: 0;
    padding: 25px;
    font: bold 50px arial, helvetica, sans-serif;
    color: white;
    }
    #menu {
    background: url(/oasis1.jpg);
    height: 30px;
    }
    #fondomenu {
    background: pink;
    width: 485px;
    height: 30px;
    }
    #fondomenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    #fondomenu ul li a {
    background: red;
    width: 120px;
    height: 30px;
    margin-left: 1px;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    display: block;
    }
    #fondomenu ul li a:hover {
    background: wheat;
    color: black;
    }

